<%= form_for(@garbage_ticket) do |f| %>
  <% if @garbage_ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@garbage_ticket.errors.count, "error") %> prohibited this garbage_ticket from being saved:</h2>

      <ul>
      <% @garbage_ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :remark %><br />
    <%= f.text_area :remark %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.telephone_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
    <%= f.hidden_field :level %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <%= f.hidden_field :is_open %>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
