<h1>Listing garbage_tickets</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Level</th>
    <th>Remark</th>
    <th>Mobile</th>
    <th>Email</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Is open</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @garbage_tickets.each do |garbage_ticket| %>
  <tr>
    <td><%= garbage_ticket.location %></td>
    <td><%= garbage_ticket.level %></td>
    <td><%= garbage_ticket.remark %></td>
    <td><%= garbage_ticket.mobile %></td>
    <td><%= garbage_ticket.email %></td>
    <td><%= garbage_ticket.latitude %></td>
    <td><%= garbage_ticket.longitude %></td>
    <td><%= garbage_ticket.is_open %></td>
    <td><%= link_to 'Show', garbage_ticket %></td>
    <td><%= link_to 'Edit', edit_garbage_ticket_path(garbage_ticket) %></td>
    <td><%= link_to 'Destroy', garbage_ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Garbage ticket', new_garbage_ticket_path %>
